
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

button.button-floors {
  width: 82px;
  height: 27px;
  margin-bottom: 5px;
}

ul.list-buttons {
  list-style: none;
}

#root-element {
  margin-top: 75px;
  margin-left: 75px;
}

.current-floor {
  position: relative;
  top: -300px;
  left: 0px;
}
