
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

button.button-floors {
  width: 82px;
  height: 27px;
  margin-bottom: 5px;
}

ul.list-buttons {
  list-style: none;
}

#root-element {
  margin-top: 75px;
  margin-left: 75px;
  width: 800px;
}

.current-floor {
  position: relative;
  top: -300px;
  left: 0px;
}

.floorRequest {
  position: relative;
  top: -196px;
  left: 305px;

}

.sendRequest {
  position: relative;
  top: -170px;
}

.users-floor {
  padding-left: 5px;
}

.request-floor {
  padding-left: 70px;
}

.class-elevator {
  position: relative;
  top: -400px;
  left: 610px;
}

.class-destination {
  position: relative;
  top: -400px;
  left: 710px;
}
